[Unit]
Description=Alarm detect Systemd service

[Service]
Type=simple
User=pi
Group=raspberry
ExecStart=python /home/pi/alarmDetect/alarmPush.py
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target


